
body {
    background-color: grey;
}

#top {
    display: flex;
    gap: 20px;
}

.boardBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 120px;
}

#board1, #board2 {
    gap: 20px;
    display: grid;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    gap: 2px;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.cell {
    aspect-ratio: 1 / 1;
    background: lightblue;
}

.cell.hit { 
    background: red;
}

.cell.miss {
    background: black;
}

.game-over {
    pointer-events: auto;
    opacity: .18;
}

#gameOver {
    position: fixed;
    top: 1; left: 1; right: 1; bottom: 1;
    background: rgba(0, 0, 0, 0);
}

.hidden {
    display: none;
}

.overlay-box {
    display: flex;
    margin-top: 150px;
    background-color: white;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: center;
}

#gameOverPopup {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.board1Box, .board2Box {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}